bin/
*.class
*.jar
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.zip
*.7z
*.rar
*.eps
*.jpeg
*.jpg
*.bmp
*.png
*.gif
*.diff
*.patch
*.swp
*.avi
*.ogg
*.mp3
*.wav
*.dvi
*.pdf
*.ps
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.o
*.so*
*.a
